aiohttp==3.9.5
aiortc==1.8.0
imageio==2.34.1
opencv-contrib-python==4.9.0.80
tensorflow==2.16.1; sys_platform == 'darwin'
tensorflow[and-cuda]==2.16.1; sys_platform == 'linux' or sys_platform == 'Windows'