aiohttp==3.9.3
aiortc==1.7.0
imageio==2.34.0
opencv-contrib-python==4.9.0.80
tensorflow==2.13.1; sys_platform == 'darwin'
tensorflow[and-cuda]==2.13.1; sys_platform == 'linux' or sys_platform == 'Windows'
