numpy==1.19.3
opencv-python
visdom
-f https://download.pytorch.org/whl/torch_stable.html
torch===1.4.0+cpu; platform_system == "Windows"
torchvision===0.5.0+cpu; platform_system == "Windows"
torch===1.4.0+cpu;platform_system == "Linux"
torchvision===0.5.0+cpu; platform_system == "Linux"
torch===1.4.0; platform_system == "Darwin"
torchvision===0.5.0; platform_system == "Darwin"